.mainImage {
  position: absolute;
  width: 100%;
  min-height: 1000px;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 2;
}

.lineFullContainer {
  position: relative;
}

.lineFull {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 2500px;
  height: 1px;
  background-color: rgba(225, 226, 227, 0.5);
}

.mainNoBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mainLeft {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.line {
  width: 1px;
  height: 100%;
  background-color: rgba(225, 226, 227, 0.5);
}

.mainRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mainTitle {
  font-size: 48px;
  color: #fff;
}

.mainSubTitle {
  font-size: 16px;
  color: #a3a199;
  margin-top: 20px;
}

.mainButtons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}

.mainButton {
  background-color: #fff;
  border-radius: 32px;

  color: #110e0f;
  font-size: 16px;
  padding: 14px 29px;
  margin-right: 20px;
}

.mainButtonInner {
  color: #fff;
  font-size: 16px;

  border-radius: 32px;
  padding: 13px 28px;
  border: 1px solid #fff;
}

.mainRightLeft {
  flex: 1;
}

.mainRightRight {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  margin: 125px 0px;

  background-color: rgba(0, 0, 0, 0.2);
}

.mainRightIcon {
  position: absolute;
  top: 0;
  right: 0;
}
.mainRightText {
  font-size: 36px;
  color: #fff;
}

.mainLeftEmpty {
  flex: 1;
  padding: 29px 0;
}

.line2 {
  width: 1px;
  height: 100%;
  background-color: rgba(225, 226, 227, 0.5);
}

.mainRightImage {
  width: 100%;
}

.mainRightGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.mainRightGridItem {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;

  align-items: flex-start;
  padding: 40px 0 100px;
}

.mainRightGridTitle {
  color: #fff;
  font-size: 56px;
  padding-left: 20px;
}

.mainRightGridText {
  color: #a3a199;
  font-size: 16px;
  max-width: 150px;
  text-align: left;
  padding-left: 20px;
}

.mainRightGridIcon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.girdLine {
  border-right: 1px solid rgba(225, 226, 227, 0.5);
  border-bottom: 1px solid rgba(225, 226, 227, 0.5);
}

.girdLineBottom {
  border-left: 1px solid rgba(225, 226, 227, 0.5);
  border-top: 1px solid rgba(225, 226, 227, 0.5);
}

.mainProjectImage {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.mainLeftOversizeImage {
  background-color: #fff;
  z-index: 1;
  padding: 190px 0;
}

.mainLeftOversizeImage2 {
  background-color: #fff;
  z-index: 1;
  padding: 406px 0;
  border-right: 1px solid #e1e2e3;
}

.mainRightArrowsContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: 101px;
  z-index: 3;
  transform: translate(-50%);
  display: flex;
  border: 1px solid rgba(225, 226, 227, 0.5);
}

.mainRightArrow {
  background-color: #ffffff;
  padding: 20px 40px;
}

.mainRightArrowRotate {
  transform: rotate(180deg);
}

.mainRightArrowLine {
  border-right: 1px solid rgba(225, 226, 227, 0.5);
}

.mainRightFull {
  background-color: #ffffff;
  border-left: 1px solid rgba(225, 226, 227, 0.5);

  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}

.mainRightFullItem {
  display: flex;
  width: calc(100% - 120px);
  padding: 71px 60px 45px;
  border-bottom: 1px solid rgba(225, 226, 227, 0.5);
}

.mainRightFullItemLeft {
  flex: 2;
}

.mainRightFullItemRight {
  flex: 1;
  color: #15181b;
  font-size: 48px;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
}

.mainRightFullPlan {
  color: #15181b;
  font-size: 12px;
  white-space: nowrap;
}

.mainRightFullTitle {
  color: #15181b;
  font-size: 48px;
  margin-top: 19px;
  margin-bottom: 35px;
}

.mainRightFullOption {
  color: #15181b;
  font-size: 12px;
  margin-bottom: 25px;
}

.mainRightPadding {
  padding: 0 72px;
  width: calc(100% - 144px);
  display: flex;
  flex-direction: column;
}

.mainEmailTitle {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 50px;
}

.mainEmailSubTitle {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 20px;
}

.mainEmailInput {
  margin-bottom: 20px;
  width: 100%;
}

.mainEmailInputElement {
  width: calc(100% - 72px);
  background-color: transparent;
  border: 1px solid #515355;
  padding: 40px 36px;

  color: #a3a199;
  font-size: 16px;
}

.mainEmailSubmit {
  justify-self: flex-end;
  align-self: flex-end;
  width: max-content;
  color: #15181b;
  font-size: 16px;
  padding: 15px 40px;
  background-color: #fff;
  border-radius: 32px;
}

.customPadding {
  padding: 0 90px;
}

.mainEuro {
  font-size: 28px;
  margin-right: 10px;
}

.headerComponent {
  height: 190px;
}

.mainTitlePadding {
  padding: 20px 50px 0;
}

.mainSubTitlePadding {
  padding: 0 50px;
}

.mainButtonPadding {
  padding: 0 50px 20px;
}

.mainRightWithWidth {
  width: 100%;
}
.mainRightFullPlanMobile {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .mainTitlePadding {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1150px) {
  .mainLeft {
    flex: 2;
  }
  .mobileLineHide {
    display: none;
  }

  .mainRightRight {
    margin-right: 150px;
  }

  .mainRightLeftMobile {
    flex: 0;
  }

  .mainRightRight {
    min-width: 250px;
  }

  .mainLeftMobileSmall {
    flex: 1;
  }
  .customPadding {
    padding: 0 45px;
  }
  .mainTitle {
    font-size: 40px;
  }
  .mainSubTitle {
    font-size: 14px;
  }
  .mainRightGridTitle {
    font-size: 40px;
  }
  .mainRightGridText {
    font-size: 14px;
  }
  .mainRightFullTitle {
    font-size: 40px;
  }
  .mainRightFullItemRight {
    font-size: 32px;
  }
  .mainEuro {
    font-size: 22px;
  }
  .mainEmailTitle {
    font-size: 40px;
  }
  .mainRightGridItem {
    align-items: flex-start;
    padding: 40px 0 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .mainRightFullPlanMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .mainRightFullItemRightHide,
  .mainRightFullPlanHide {
    display: none;
  }
  .mainRightFullItemRight {
    flex: 0 1 auto;
  }
  .mainRightFullItem {
    padding: 71px 30px 45px;
    width: calc(100% - 60px);
  }

  .mainRightPadding {
    padding: 0 30px;
    width: calc(100% - 60px);
  }
}

@media only screen and (max-width: 830px) {
  .mobileColumnButtons {
    flex-direction: column;
    align-items: flex-start;
  }
  .mainButton {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 810px) {
  .mainRightRight {
    margin-right: 80px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 700px) {
  .mainCustomPadding {
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: calc(100% - 20px);
  }
  .mainRightFullTitle {
    font-size: 36px;
  }
  .mobileColumnButtons {
    flex-direction: row;
    align-items: flex-start;
  }
  .mainNoBorder {
    border: none;
  }
  .headerComponent {
    height: 80px;
  }
  .main {
    flex-direction: column;
  }
  .mainLeft {
    background-color: transparent;
  }
  .mainTitlePadding {
    padding: 20px 0 0;
  }

  .mainSubTitlePadding {
    padding: 0;
  }

  .mainButtonPadding {
    padding: 0;
  }

  .lineFullContainer {
    display: none;
  }

  .mainBook {
    display: none;
  }
  .mainWithMobilePadding {
    padding: 80px 0;
  }

  .mainWithMobilePaddingTop {
    padding: 120px 0 0;
    margin: 0;
  }

  .customPadding {
    padding: 0;
  }
  .mainRightImage {
    width: calc(100% + 40px);
  }

  .mainRightGrid {
    width: calc(100% + 40px);
  }

  .mainLeftOversizeImage {
    padding: 100px 0 30px;
  }
  .mainProjectImage {
    position: relative;
    width: calc(100% + 40px);
  }
  .mainRightArrowsContainer {
    margin-left: 0;
  }

  .mainRightWithArrows {
    position: relative;
  }
  .withNoMarginBottom {
    margin-bottom: 0;
  }
  .mainRightArrow {
    padding: 5px 40px;
  }
  .mainRightArrowRotate {
    transform: scale(0.7) rotate(180deg);
  }
  .mainRightArrowOriginal {
    transform: scale(0.7);
  }

  .mainLeftOversizeImage2 {
    padding: 0;
  }

  .mainRightFull {
    position: relative;
    width: calc(100% + 40px);
    border: none;
  }

  .mainLeftOversizeImage2 {
    border: none;
  }

  .mainRightFullItem {
    padding: 45px 0 30px;
    width: 100%;
  }
  .mainRightFullItemRight {
    justify-content: flex-end;
  }

  .mainRightWithWidth {
    width: calc(100% + 40px);
  }
  .mainRightFullItemLeft {
    margin-left: 20px;
  }
  .mainRightFullItemRight {
    margin-right: 20px;
  }

  .mainRightMobileEmail {
    width: 100%;
  }
  .mainRightPadding {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 360px) {
  .mainButtons {
    flex-direction: column;
    align-items: flex-start;
  }
  .mainButton {
    margin-bottom: 20px;
  }

  .mainRightGridTitle {
    font-size: 28px;
  }
}
