:root {
  /*COLOR*/
  --color-background: #15181b;
  --color-navbar: #fff;

  --color-main: #fff;
  --color-main-second: red;
  --color-white: #ffffff;
  --color-box: red;

  --color-text-main: #fff;
  --color-text-second: #110e0f;
  --color-text-title: orange;

  /*SIZE*/
  ---main-padding: 0px;

  ---border-radius: 0px;
  ---border-radius-button: 0px;
  ---border-radius-small: 0px;

  ---navbar-height: 100px;
}

@font-face {
  font-family: sharpGrotesk;
  src: url(./font/SharpGrotesk-Book20.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: sharpGrotesk;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15181b;
}

.red {
  background-color: red;
}

.componentFirst {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.componentSecond {
  width: 100%;
  max-width: 1450px;
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  border-top: 1px solid rgba(225, 226, 227, 0.5);
  border-left: 1px solid rgba(225, 226, 227, 0.5);
  border-right: 1px solid rgba(225, 226, 227, 0.5);
}

@media only screen and (max-width: 1150px) {
  .componentSecond {
    border-left: none;
    border-right: none;
    margin: 0;
  }
}

@media only screen and (max-width: 700px) {
  .componentSecond {
    margin: 0 20px;
  }
  .main {
    margin-bottom: 100px;
  }

  .componentSecond {
    border: none;
  }

  .line {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .componentSecond {
    margin: 0 10px;
  }
}
